<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994670521134-7mls4drl55g9docdvea5bprbejrcrr3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994670521134-7mls4drl55g9docdvea5bprbejrcrr3p</string>
	<key>API_KEY</key>
	<string>AIzaSyD50KY4IZA4D7kKd9RolcmCGR0cw8Cps5s</string>
	<key>GCM_SENDER_ID</key>
	<string>994670521134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.husur.Message</string>
	<key>PROJECT_ID</key>
	<string>message-6ac0b</string>
	<key>STORAGE_BUCKET</key>
	<string>message-6ac0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994670521134:ios:d1e69030979b8d8ae168bf</string>
</dict>
</plist>